body {
  margin: 0;
  padding: 0;
}

.hero-image {
  position: relative;
  overflow: hidden;
  background: url(./img/HeroTest.jpg) no-repeat center;
  background-size: cover;
}

.btns {
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  background: #1e90ff;
  width: 200px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.btns:hover,
btns:focus,
.btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.textTitle {
  padding: 30px;
  color: azure;
  text-align: left;
  align-items: center;
  margin-top: 50px;
}

.des {
  font-size: 14px;
  text-align: center;
  display: none;
}

h3 {
  padding: 0 0 10px 0;
  color: #696969;
}

.catg {
  color: #696969;
}
.bodyForm {
  padding: 0px 40px 0px;
  text-align: center;
}

.dateButton {
  /* justify-content: center; */
  border: 1px solid #696969;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
}

.dateOfStay {
  padding: 40px;
  text-align: center;
  color: #696969;
}

#guestRoomNumber {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.steps {
  padding: 0 0 45px 0;
}
.steps label {
  display: inline-block;
  width: 33px;
  position: relative;
  cursor: pointer;
}

.steps label:before {
  content: "\f006";
  font-family: fontAwesome;
  position: relative;
  display: inline-block;
  font-size: 24px;
  top: 0;
  left: 0;
  width: 30px;
  color: #a4a4a4;
}

.steps input {
  display: none;
}
.steps label:after {
  content: "\f005";
  font-family: fontAwesome;
  position: absolute;
  display: inline-block;
  font-size: 25px;
  top: 0;
  left: 0;
  width: 30px;
  color: #005cc8;
  opacity: 0;
}

.steps label:hover:after,
.steps label:hover ~ label:after,
.steps input:checked ~ label:after {
  opacity: 1;
}

/* .step {
  display: none;
} */

/* .step.active {
  display: block;
} */

/* .bodyForm {
  width: 100%;
  margin-top: 20px;
} */
/* 
.bodyForm input {
  width: 100%;
  padding: 5px;
} */

.questionPart {
  text-align: left;
  color: #696969;
}

.questPart {
  padding: 0 0 30px 0;
}

.inviteLink {
  padding: 20px 0 30px 0;
  text-align: justify;
}

@media only screen and (max-width: 480px) {
  .body {
    overflow: hidden;
    align-items: center;
  }

  .steps label {
    width: 30px;
  }

  .catg {
    text-align: left;
    position: relative;
    top: 5px;
  }

  .des {
    text-align: right;
  }
}
